%%% -*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [warnings_as_errors
            , {platform_define, "(linux)", 'HAVE_PRIVILEGED_PORTS'}
           ]}.

%% Require OTP version R15
{require_otp_vsn, "R15"}.

%% Depends
{deps, [{edown, "", {git, "git://github.com/norton/edown.git", {branch, "master"}}}
        , {getopt, "", {git, "git://github.com/norton/getopt.git", {branch, "master"}}}
        %% gproc
        , {gen_leader, "", {git, "git://github.com/norton/gen_leader_revival.git", {branch, "master"}}}
        , {gproc, "", {git, "git://github.com/norton/gproc.git", {branch, "dev"}}}
        %% setup
        , {setup, "", {git, "git://github.com/norton/setup.git", {branch, "norton-erl_prim_loader"}}}
       ]}.

%% Escript
{escript_comment, "%% GPROCPKG tool\n"}.
{escript_emu_args, "%%! -noinput -escript main setup_pkg\n"}.
{escript_name, "rel/setup_pkg"}.
{escript_incl_apps, [getopt, gproc, setup]}.
